.socials__text{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;    
}

.socials__list{
    display: flex;
}

.socials__item{
    width: 20px;
    height: 20px;    
    background-color: white;
    border-radius: 50%;
    margin-right: 5px;
    transition: 0.5s;    
}

.socials__item:hover{
    background-color: #ec1e79;
}

.socials__item--vk {   
    background-image: url('../../img/vk.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.socials__item--fb {    
     background-image: url('../../img/fb.png');
     background-repeat: no-repeat;
     background-position: center center;
 }

 .socials__item--google {
     background-image: url('../../img/google.png');
     background-repeat: no-repeat;
     background-position: center center;
 }

 .socials__item--twitter {
     background-image: url('../../img/twitter.png');
     background-repeat: no-repeat;
     background-position: center center;
 }

 .socials__item--mail {
     background-image: url('../../img/mail.png');
     background-repeat: no-repeat;
     background-position: center center;
 }